.card-style{
    cursor: pointer;
    margin-bottom: 1rem;
    width: 18rem;

    .card-body{
        height: 6rem;
    }

    .card-img-top{
        object-fit: cover;

        width: 18rem;
        height: 18rem;
    }
}